html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  background-color: hsl(60, 6%, 75%);
  margin: 0 auto;
}
.section {
  max-width: 610px;
  min-width: 310px;
  padding: 30px;
  margin: 0 auto;
}

