.listItem {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;
  padding-top: 12px;
  border-bottom: 1px solid hsl(0, 0%, 0%);
  margin: 0;
}

@media (max-width: 767px) {
  .listItem {
    display: grid;
    grid-template-columns: auto 1fr auto;
    font-family: "Lato", sans-serif;
    padding-bottom: 20px;
    padding-top: 12px;
    border-bottom: 1px solid hsl(0, 0%, 0%);
  }
}

.listItem__button {
  background-color: rgb(210, 44, 7);
  font-family: "Lato", sans-serif;
  
  min-width: 30px;
  max-width: 30px;
  height: 20px;
  border: none;
  transition: background 1s, transform 10s;
  transform-origin: 100px 200px;
}
.listItem__button:hover {
  background-color: brown;
}
.listItem__checkButton {
  background-color: green;
  height: 20px;
  width: 22px;
  border: none;
}

.tasks__hidden{
display: none;
}

.unorderedList {
  margin: 0px;
  margin-top: 2px;
  padding-bottom: 16px;
  padding: 0;
}

@media (max-width: 767px) {
  .unorderedList {
    margin-top: 2px;
    padding-bottom: 16px;
  }
}

.listItem__task--done {
  text-decoration: line-through;
}

.listItem__paragraph {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  padding-left: 15px;
}

@media (max-width: 767px) {
  .listItem__paragraph {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-left: 15px;
  }
}
